<html lang="en" ng-app="trelloSynchronizer">

<head>
  <title>Trello Integration 0800</title>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="stylesheet" href="/common/css/bootstrap.css" />
  <link rel="stylesheet" href="/common/css/bootstrap-theme.css" />
</head>

<body ng-controller="TrelloSynchronizerController as controller">

  <div class="container">

  <h3 class="control-label">Escolha o quadro do Trello que você deseja sincronizar com o 0800?</h3>

  <table class="table table-striped">
    <tbody>
      <tr ng-repeat="board in controller.trelloBoards">
        <td title="Quadros"> <input type="button" value="{{board.name}}" style="width: 100%" ng-click="controller.getLists(board)" class="btn btn-success"/></td>
      </tr>
    </tbody>
  </table>

  <h3>Escolha o ponto de entrada (Lista) para as novas tarefas?</h3>

  <table class="table table-striped">
    <tbody>
      <tr ng-repeat="list in controller.trelloBoardLists">
        <td title="Listas"> <input type="button" value="{{list.name}}" style="width: 100%" ng-click="controller.setEntryList(list)" class="btn btn-success"/></td>
      </tr>
    </tbody>
  </table>

  <h3 class="control-label">Tarefas recentemente sincronizadas no Trello!</h3>

  <table class="table table-hover table-condensed">
    <tbody>
      <tr ng-repeat="card in controller.addedCards">
        <td>{{card.name}}</td>
      </tr>
    </tbody>
  </table>

  </div>

  <script src="/common/js/jquery.min.js"></script>
  <script src="/common/js/bootstrap.min.js"></script>
  <script src="/common/js/angular.min.js"></script>
  <script src="js/trelloSynchronizer.js"></script>

</body>

</html>